<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                  http://www.springframework.org/schema/beans/spring-beans.xsd
                  http://www.springframework.org/schema/context
                  http://www.springframework.org/schema/context/spring-context.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 指定应用名称 -->
    <dubbo:application name="health_job"/>
    <!--指定暴露服务的端口，如果不指定默认为20880-->
    <!--<dubbo:protocol name="dubbo" port="20887"/>-->
    <!--指定服务注册中心地址-->
    <dubbo:registry address="zookeeper://127.0.0.1:2181"/>
    <!--批量扫描，发布服务-->
    <dubbo:annotation package="com.itheima.health"/>

    <dubbo:consumer check="false" timeout="15000"/>

    <!--解决任务调度类使用@Autowired注解-->
    <context:annotation-config></context:annotation-config>

    <!--1：创建任务调度类-->
    <bean id="jobClearData" class="com.itheima.health.job.JobClearData"></bean>

    <!--2：创建方法任务调度细节，加载任务调度类，同时加载任务调度类中的方法-->
    <bean id="jobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <!--指定目标对象类-->
        <property name="targetObject" ref="jobClearData"></property>
        <!--指定目标对象类中的方法（指定执行的方法）-->
        <property name="targetMethod" value="deleteOrderSetting"></property>
    </bean>

    <!--3：创建任务调度的触发器（到了什么时间点，执行任务调度）-->
    <bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="jobDetail"></property>
        <!--test用，每10秒触发一次-->
        <property name="cronExpression" value="0/10 * * * * ? *"></property>
        <!--每个月1号凌晨2点 清除之前的数据-->
        <!--<property name="cronExpression" value="0 0 2 1 * ? *"></property>-->
    </bean>


    <!--1：创建任务调度类-->
    <bean id="jobImg" class="com.itheima.health.job.JobImg"></bean>

    <!--2：创建方法任务调度细节，加载任务调度类，同时加载任务调度类中的方法-->
    <bean id="jobDetail2" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <!--指定目标对象类-->
        <property name="targetObject" ref="jobImg"></property>
        <!--指定目标对象类中的方法（指定执行的方法）-->
        <property name="targetMethod" value="deleteFile"></property>
    </bean>

    <!--3：创建任务调度的触发器（到了什么时间点，执行任务调度）-->
    <bean id="cronTrigger2" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="jobDetail2"></property>
        <!--指定任务调度的表达式，每天0点执行-->
        <property name="cronExpression" value="30 37 18 * * ?"></property>
    </bean>



    <!--4：创建任务调度的执行类，执行触发器-->
    <bean id="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <set>
                <ref bean="cronTrigger"></ref>
                <ref bean="cronTrigger2"></ref>
            </set>
        </property>
    </bean>
</beans>